@model IEnumerable<CandidatesLi>
@{
    ViewData["Title"] = "Index";
}


<div class="container p-3" >
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary"> Candidate List

            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Candidate" asp-action="Add" class="btn btn-primary">
              <i class="bi bi-plus-circle"></i> &nbsp; Add New Candidate
            </a>
        </div>
    </div>
    <br /><br />

<table class="table table-bodered table-striped " style="width:100%">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Date of Birth
            </th>
            <th>
                Age
            </th>
            <th>
                Weight
            </th>
            <th>
                Height
            </th>
            <th>
                Hair Colour
            </th>
            <th></th>
            
        </tr>
    </thead>

<tbody>
    @foreach(var obj in Model)
{
    <tr>
        <td width="30%">
            @obj.First_Name
        </td>
        <td width="30%">
            @obj.Last_Name
        </td>
        <td width="30%">
            @obj.Date_Of_Birth
        </td>
        <td width="10%">
            @obj.Age
            </td>
            <td width="30%">
            @obj.Weight
        </td>
        <td width="30%">
            @obj.Height
        </td>
        <td width="30%">
            @obj.Hair_Colour
        </td>
            <td>
                <div class="w-75 btn-group" role="group">
                    <a asp-controller="Candidate" asp-action="Edit" asp-route-id="@obj.Id"
                    class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i>Edit</a>
                    <a asp-controller="Candidate" asp-action="Delete" asp-route-id="@obj.Id"
                    class="btn btn-danger mx-2"><i class="bi bi-trash-fill"></i>Delete</a>

                </div>
            </td>
        </tr>

}

</tbody>
</table>
</div>

